/*Default styles */
nav,nav >ul,nav li, a,p, h1,h3,h5,h4{
    margin: 0;
    padding: 0; 
    list-style: none;
}
html, body{
    font-size: 14px;
    letter-spacing: 0.01rem;
}
body{
    font-family: AMCAPEternal;
    background: url(../images/webbg.jpg);
    background-position: 50% 0;
    line-height: 1.6;
    color: #fff;
}
.stick-at-top{
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px -1px #000;
    top:0;
    left:0;
    z-index: 9999;
}



a{color: #fff;}
a:hover, a:focus{
    color: #fff;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size:1.2rem;
}
h4{
    font-size: 1rem;
}
.nav-container{
    background: rgba(0, 0, 0, .7);
    width: 100%;
    display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;  
    
    -webkit-justify-content: center; 
    justify-content: center; 
    flex-pack: center;
    -ms-flex-pack:center;
}

.nav-container ul li{
    display: inline-block;
    line-height: 1;
}
.nav-container ul li a{
    padding: 1rem 1.5rem;
    color: #ccc;
    display: inline-block;
    letter-spacing: .002em;
    transition: .3s background;
}
.nav-container ul li a:hover{
    background: #7F141A;
    color: #f7c2c5;
}

.logo-container{
    margin-top:1rem;
}

.red, .grey{
    font-family: AMCAPEternal;
}
.red{
    color: #7F141A;
}
.grey{
    color: #9F9F9F;
  
}
.active-link{
    background: #b40b14;
}

.main-content-container{
    background: rgba(0, 0, 0, .85);
    padding: 14px;
    padding: 1rem;
    margin-top: 16px;
}
.main-content{
}
.title-border{
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.latest-match,.latest-videos, .member-login{
    background: #0E0E0E;
}
.latest-match{
    background: #0E0E0E;
}
.member-login, .latest-match{
    background: rgba(123, 10, 14, .5);
}
.result-panel, .video-panel,.member-panel {
    padding: .5rem 1rem;
}
.video-panel{
    margin: 1.5rem 0;
    padding: 1rem 0;
}
.result-panel-score p{
 font-size: 2em ;   
 font-size: 2rem ;   
}

.result-panel-score-red{
    background: #521517;
    color: #210809;
}
.result-panel-score-grey{
    color: #404040;
    background: #9F9F9F;
}

.view-match {
    display: inline-block;
    width: 100%;
    margin-top: 0;
    text-align: center;
    line-height: 1.2;
    font-size: 1rem;
    transition: .3s background ease-in-out;
    background: rgba(0, 0, 0, .95);
    position: relative;
}
.view-match:hover{
    background: #B61E23;
}






/*styling form */
.form-container label{
    font-size: 1.2rem;
    color: #C3A0A1;
}
.form-container input[type="submit"]{
    margin-top: 10px;
}


/*Styling the last row */
 custom-content-container{
    margin-top: 10rem;
}

 .blank-panel{
    height: 120px;
}

.blank-panel-skyblue{
    background: #006DD9;
}

.blank-panel-brown{
    background: #4C3C2D;
}

.blank-panel-darkblue{
    background: #061721;
}


.admin-content{
    padding-top: 1rem;
}
.admin-content p{
    font-size: .8rem;
}
.admin-readme{
    padding: 1.5rem 0;
}
.admin-readme h4 a span{
    transition: .3s color ease-in-out;
}
.admin-readme h4 a:hover span{
    color: #B11D22;
}



.footer-xensus{
    background-color: rgba(255, 255, 255, .3);
    background-image: url(../images/xensus.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 1rem 0 ;
}

.footer-xensus h2{
    text-align: center;
    font-size: 3em;
}



// Small screens
@media only screen {
    body{
        width: 80%;
    }
} /* Define mobile styles */

@media only screen and (max-width: 40em) {
    
    /* removing the floats from header contact info */
  .stick-at-top{
  
    position:relative;
}
    .menu-icon{
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #0E0E0E;
    }
.nav-container-mobile ul{
        width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.nav-container-mobile ul li{
    display: block;
    width: 100%;
    line-height: 1;
}
.nav-container-mobile ul li a{
    padding: 1rem 1.5rem;
    color: #ccc;
    display: block;
    text-align: center;
    letter-spacing: .002em;
    transition: .3s background;
}
.nav-container-mobile ul li a:hover{
    background: #7F141A;
    color: #f7c2c5;
}
    
    
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */



// Medium screens
@media only screen and (min-width: 40.063em) { 
    

} /* min-width 641px, medium screens */



@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

    
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */







@media only screen and (min-width: 64.063em) and (max-width: 90em) { 

} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

